.projects {
    text-align: center;
    background-color: $color-yellow-light-1;
    padding: 15rem 0;
    margin-top: -15rem;
    &__heading {
      @include section_title;
      color: crimson;
      padding-bottom: 2rem;
    }
    &__container {
      max-width: 80%;
      margin: auto;
      display: grid;
      grid-template-columns: auto auto auto;
      column-gap: 3rem;
      row-gap: 2rem;

      @include respond(phone){
      grid-template-columns: auto;
        
      }
    }
}